<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Hesed - About</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-jump">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


    <!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="index.html">
                <img src="images/logo.svg" alt="Homepage">
            </a>
        </div>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a href="index.html" title="Home">Home</a></li>
                <li class="current"><a href="about.html" title="About">About</a></li>
                <li><a href="events.html" title="Services">Events</a></li>
                <li><a href="contact.html" title="Contact us">Contact</a></li>	
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

    </header> <!-- end s-header -->


    <!-- page header
    ================================================== -->
    <section class="page-header page-header--about">

        <div class="gradient-overlay"></div>
        <div class="row page-header__content">
            <div class="column">
                <h1>We Are Hesed</h1>
            </div>
        </div>

    </section> <!-- end page-header -->


    <!-- page content
    ================================================== -->
    <section class="page-content">

        <div class="row">
            <div class="column">

                <p class="lead drop-cap">
                Non ratione vel. Non consequatur hic et labore et quia doloribus. 
                Dolorum rerum dignissimos inventore id corporis rerum. At nesciunt 
                ut error est soluta qui quibusdam blanditiis animi. Ad saepe quia at 
                numquam temporibus quisquam ipsa. Ab omnis aut ratione ipsam voluptates 
                quia. Veniam temporibus et. Aperiam sint veniam libero perferendis a. 
                Quisquam optio quidem et.
                </p>

                <div class="row">
                    <div class="column large-half medium-full">
                        <h2>Our Purpose.</h2>
                        <p>
                        Earum quia in. Sed deleniti sit aut molestiae eum consequatur 
                        quidem. Non beatae molestias eveniet repellendus doloribus odio 
                        sit nihil. Est labore a praesentium esse quisquam. Cumque ut 
                        omnis harum omnis eaque.

                        Et minus tempora dicta blanditiis rem sequi. Est doloremque 
                        odit doloremque molestiae qui necessitatibus consequatur alias. 
                        Quisquam rerum nihil labore nihil eos et. Dignissimos veniam odio 
                        architecto voluptate ut molestias in porro et.
                        </p>
                    </div>

                    <div class="column large-half medium-full">
                        <h2>Our Mission.</h2>
                        <p>
                        Et unde et quibusdam laudantium consequatur. Necessitatibus ut 
                        ullam laudantium doloremque non qui expedita. Officia magnam 
                        eos aut quae et est. Labore id assumenda dignissimos sapiente 
                        qui voluptatem. Omnis soluta eos ex dolores.

                        Quas eaque eveniet rem voluptas rerum et nesciunt ipsum nulla. 
                        Nulla exercitationem nesciunt et tempore reprehenderit. Vero 
                        modi eum dolores in sunt quis sed. Quis quidem aut quam quod 
                        et. 
                        </p>
                    </div>
                </div>

                <blockquote cite="http://where-i-got-my-info-from.com">
                    <p>
                    For God so loved the world, that he gave his only Son, that whoever believes in 
                    him should not perish but have eternal life. For God did not send his Son into 
                    the world to condemn the world, but in order that the world might be 
                    saved through him.
                    </p>
                    <cite>
                        <a href="#0">John 3:16-17 ESV</a>
                    </cite>
                </blockquote>

                <br>

                <h2>Our Values.</h2>
                <div class="row block-large-1-2 block-1000-full block-list">
                    <div class="column block-list__item">
                        <h6>Identity in Christ</h6>

                        <p>
                        Earum quia in. Sed deleniti sit aut molestiae eum consequatur 
                        quidem. Non beatae molestias eveniet repellendus doloribus odio 
                        sit nihil. Est labore a praesentium esse quisquam. Cumque ut 
                        omnis harum omnis eaque. Et minus tempora dicta blanditiis rem sequi. Est doloremque 
                        odit doloremque molestiae qui necessitatibus consequatur alias. 
                        Quisquam rerum nihil labore nihil eos et.
                        </p>
                    </div>

                    <div class="column block-list__item">
                        <h6>Church Is Family</h6>

                        <p>
                        Quia cum tenetur et sequi eum molestiae expedita. Eum consectetur 
                        ut unde nam voluptatibus rerum impedit error tenetur. Temporibus 
                        sed est. Et magni modi illo accusamus. Et pariatur quis maxime 
                        minus rem sed. Quam nihil temporibus nam omnis atque laborum. 
                        Sed quos aperiam. Quasi sint consectetur non cum doloremque 
                        quidem ut laudantium dolorum temporibus nam omnis.
                        </p>
                    </div>

                    <div class="column block-list__item">
                        <h6>Kingdom Culture</h6>

                        <p>
                        Cupiditate amet laboriosam ratione at et veritatis quo et explicabo. 
                        Illum nostrum voluptatem dignissimos laudantium. Et veniam qui. 
                        Pariatur totam maiores. Quis et consequatur eum nesciunt rerum 
                        pariatur enim unde. Et magni modi illo accusamus. Et pariatur quis maxime 
                        minus rem sed. Impedit ad alias iste. Sed deleniti sit aut molestiae.
                        Minus quod voluptatem laborum necessitatibus vel similique molestiae.
                        </p>
                    </div>

                    <div class="column block-list__item">
                        <h6>Spirit Led Life</h6>

                        <p>
                        Est voluptatem sequi debitis sunt et rerum. Officia ut possimus 
                        dolorum optio quis ducimus. Quo asperiores laudantium voluptatum 
                        numquam possimus. Saepe blanditiis voluptatem natus. Ipsam non 
                        totam repellendus fugiat fugit ipsum sed molestiae. Aut beatae 
                        debitis et aut voluptatem voluptates assumenda beatae. Voluptatem 
                        recusandae velit aliquid ipsa delectus est minus. 
                        </p>
                    </div>

                </div> <!-- end block-list -->

                <br>

                <h2>What We Believe.</h2>

                <div class="row block-large-1-2 block-1000-full block-list">
                    <div class="column block-list__item">
                        <h6>Maxime Quia Aut Dolorem.</h6>
                        <p>
                        Earum quia in. Sed deleniti sit aut molestiae eum consequatur 
                        quidem. Non beatae molestias eveniet repellendus doloribus odio 
                        sit nihil. Est labore a praesentium esse quisquam. Cumque ut 
                        omnis harum omnis eaque. Et minus tempora dicta blanditiis rem sequi. Est doloremque 
                        odit doloremque molestiae qui necessitatibus consequatur alias. 
                        Quisquam rerum nihil labore nihil eos et.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h6>
                        Neque Qui Veritatis.
                        </h6>
                        <p>
                        Quia cum tenetur et sequi eum molestiae expedita. Eum consectetur 
                        ut unde nam voluptatibus rerum impedit error tenetur. Temporibus 
                        sed est. Et magni modi illo accusamus. Et pariatur quis maxime 
                        minus rem sed. Quam nihil temporibus nam omnis atque laborum. 
                        Sed quos aperiam. Quasi sint consectetur non cum doloremque 
                        quidem ut laudantium dolorum temporibus nam omnis.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h6>
                        Eos Quos Temporibus
                        </h6>
                        <p>
                        Cupiditate amet laboriosam ratione at et veritatis quo et explicabo. 
                        Illum nostrum voluptatem dignissimos laudantium. Et veniam qui. 
                        Pariatur totam maiores. Quis et consequatur eum nesciunt rerum 
                        pariatur enim unde. Et magni modi illo accusamus. Et pariatur quis maxime 
                        minus rem sed. Impedit ad alias iste. Sed deleniti sit aut molestiae.
                        Minus quod voluptatem laborum necessitatibus vel similique molestiae.
                        </p>
                    </div>
                    <div class="column block-list__item">
                        <h6>
                        Dolorum Qui Ipsam Maxime.
                        </h6>
                        <p>
                        Est voluptatem sequi debitis sunt et rerum. Officia ut possimus 
                        dolorum optio quis ducimus. Quo asperiores laudantium voluptatum 
                        numquam possimus. Saepe blanditiis voluptatem natus. Ipsam non 
                        totam repellendus fugiat fugit ipsum sed molestiae. Aut beatae 
                        debitis et aut voluptatem voluptates assumenda beatae. Voluptatem 
                        recusandae velit aliquid ipsa delectus est minus. 
                        </p>
                    </div>
                </div> <!-- end block-list -->

                <br>

                <h2>Meet Our Team.</h2>

                <div class="row block-large-1-2 block-tab-full church-staff">
                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-01.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Jonathan Doe
                                <span class="church-staff__position">
                                    Lead Pastor
                                </span>
                            </h4>
                        </div>

                        <p>
                        Laudantium cumque pariatur doloribus et molestias. Natus et 
                        voluptas consequuntur quo. Ut eos neque nostrum fugiat 
                        impedit. Deserunt qui vitae quidem. Aut laudantium veniam omnis 
                        sed ullam quo.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-02.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Jane Doe
                                <span class="church-staff__position">
                                    Lead Pastor
                                </span>
                            </h4>
                        </div>

                        <p>
                        Earum quia in. Sed deleniti sit aut molestiae eum consequatur 
                        quidem. Non beatae molestias eveniet repellendus doloribus odio 
                        sit nihil. Est labore a praesentium esse quisquam. Cumque ut 
                        omnis.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-03.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Charles Spurgeon
                                <span class="church-staff__position">
                                    Associate Pastor
                                </span>
                            </h4>
                        </div>
    
                        <p>
                        Quia cum tenetur et sequi eum molestiae expedita. Eum consectetur 
                        ut unde nam voluptatibus rerum impedit error tenetur. Temporibus 
                        sed est. Et magni modi illo accusamus. Et pariatur quis maxime.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-04.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Martin Luther
                                <span class="church-staff__position">
                                    Associate Pastor
                                </span>
                            </h4>
                        </div>
    
                        <p>
                        Cupiditate amet laboriosam ratione at et veritatis quo et explicabo. 
                        Illum nostrum voluptatem dignissimos laudantium. Et veniam qui. 
                        Pariatur totam maiores. Quis et consequatur eum nesciunt rerum.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-05.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                John Wesley
                                <span class="church-staff__position">
                                    Youth Pastor
                                </span>
                            </h4>
                        </div>
    
                        <p>
                        Est voluptatem sequi debitis sunt et rerum. Officia possimus 
                        dolorum optio quis ducimus. Quo asperiores laudantium voluptatum 
                        numquam possimus. Saepe blanditiis voluptatem natus optio.
                        </p>
                    </div>

                    <div class="column church-staff__item">
                        <div class="church-staff__header">
                            <div class="church-staff__picture">
                                <img src="images/avatars/user-06.jpg" alt="">
                            </div>
                            <h4 class="church-staff__name">
                                Aimee Semple McPherson
                                <span class="church-staff__position">
                                    Kids Church Director
                                </span>
                            </h4>
                        </div>
    
                        <p>
                        Laudantium cumque pariatur doloribus et molestias. Natus et 
                        voluptas consequuntur quo. Ut eos neque nostrum fugiat 
                        impedit. Deserunt qui vitae quidem. Aut laudantium veniam omnis 
                        sed ullam quo.
                        </p>
                    </div>

                </div> <!-- end church staff -->

            </div>
        </div>

    </section> <!-- end page content -->


    <!-- Social
    ================================================== -->
    <section class="s-social">
            
        <div class="row social-content">
            <div class="column">
                <ul class="social-list">
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--facebook"></span>
                            <span class="social-list__text">Facebook</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--twitter"></span>
                            <span class="social-list__text">Twitter</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--instagram"></span>
                            <span class="social-list__text">Instagram</span>
                        </a>
                    </li>
                    <li class="social-list__item">
                        <a href="#0" title="">
                            <span class="social-list__icon social-list__icon--email"></span>
                            <span class="social-list__text">Email</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div> <!-- end social-content -->

    </section> <!-- end s-social -->


    <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row footer-top">
            <div class="column large-4 medium-5 tab-full">
                <div class="footer-logo">
                    <a class="site-footer-logo" href="index.html">
                        <img src="images/logo.svg" alt="Homepage">
                    </a>
                </div>  <!-- footer-logo -->
                <p>
                Laborum ad explicabo. Molestiae voluptates est. Quisquam labore tenetur 
                et assumenda voluptatibus a beatae. Rerum odio ducimus reprehenderit 
                sit animi laborum nostrum dolorum animi voluptates est voluptatibus a beatae. 
                </p>
            </div>
            <div class="column large-half tab-full">
                <div class="row">
                    <div class="column large-7 medium-full">
                        <h4 class="h6">Our Location</h4>
                        <p>
                        1600 Amphitheatre Parkway <br>
                        Mountain View, California <br>
                        94043 US
                        </p>
        
                        <p>
                        <a href="https://goo.gl/maps/bc7C7eYtSmnNs6216" target="_blank" class="btn btn--footer">Get Direction</a>
                        </p>
                    </div>
                    <div class="column large-5 medium-full">
                        <h4 class="h6">Quick Links</h4>
                        <ul class="footer-list">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="volunteer.html">Volunteer</a></li>
                            <li><a href="connect-group.html">Connect Groups</a></li>
                            <li><a href="events.html">Upcoming Events</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- end footer-top -->

        <div class="row footer-bottom">
            <div class="column ss-copyright">
                <span>© Copyright Hesed 2019</span> 
                <span>Design by <a href="https://www.styleshout.com/">StyleShout</a></span>
            </div>
        </div> <!-- footer-bottom -->

        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
            </a>
        </div> <!-- ss-go-top -->

    </footer> <!-- end s-footer -->


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>