<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body>


  <!-- Preloader -->
  <div class="wed_page_loader">
    <div class="wed_story_content">
      <div class="wed_heart_container_row_4">
        <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
        <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
        <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
      </div>
      <div class="wed_story_small_img">
        <img src="images/small_people/small_couple.png" alt="">
      </div>

    </div>
  </div>
  <!-- Preloader End-->

  <!-- Firefly -->
  <div class="wed_firefly">
    <div class="jqueryFireFly" data-total="60" data-minPixel="1" data-maxPixel="4"></div>
  </div>


  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>       
      <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

          <!-- couple header -->
          <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
          <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
          <!-- couple header end -->

          <!-- Logo -->
          <a href="#" class="wed_logo wed_logo_animation">Sally & Mark</a>

          <!-- Text Logo -->
          <div class="wed_logo_und">Wedding</div>


          <div class="wed_top_menu_mobile_link">
            <i class="ti ti-menu"></i>
          </div>
          <!-- Top Menu -->
          <div class="wed_top_menu_cont">
              <ul class="wed_top_menu">
                <li class="wed_parent"><a href="#">Home</a>
                  <ul>
                       <li><a href="02_multipage_index.html">Purple Hearts Miltipage</a></li>
                       <li><a href="02_index.html">Firefly Demo</a></li>
                       <li><a href="02_index.html">Dandelions Demo</a></li>
                       <li><a href="03_index.html">Red Roses Demo</a></li>
                       <li><a href="04_index.html">Orange Roses Demo</a></li>
                       <li><a href="06_index.html">Blue Butterflies Demo</a></li>
                       <li><a href="05_index.html">Purple Butterflies Demo</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">About</a>
                  <ul>
                       <li><a href="02_04_about_him.html">About Him</a></li>
                       <li><a href="02_05_about_her.html">About Her</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">Gallery</a>
                  <ul>
                       <li><a href="01_04_portfolio_masonry_full_3col.html">Full 3 Column</a></li>
                       <li><a href="02_01_portfolio_masonry_fixed_3col.html">Full No Padding</a></li>
                       <li><a href="01_09_portfolio_masonry_full_nopadding_3col.html">Fixed 3 Column</a></li>
                  </ul>
                </li>
                <li><a href="02_06_story.html">Story</a></li>
                <li class="wed_parent"><a href="#">The Wedding</a>
                  <ul>
                       <li><a href="01_05_accomodation.html">Accomodation</a></li>
                       <li><a href="01_06_location.html">Location</a></li>
                       <li><a href="01_07_bridesmaid.html">Bridesmaid</a></li>
                       <li><a href="01_08_groomsman.html">Groomsman</a></li>
                      <li><a href="02_01_gift_registry.html">Gift Registry</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">Blog</a>
                  <ul>
                       <li><a href="01_03_blog_fullwidth.html">Blog Fillwidth</a></li>
                       <li><a href="01_02_blog_masonry_3col.html">Blog Masonry</a></li>
                       <li><a href="01_01_wedding journal.html">Blog Single Page</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">RSVP</a>
                  <ul>
                       <li><a href="02_02_reservation.html">RSVP 1</a></li>
                       <li><a href="02_03_reservation.html">RSVP 2</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <!-- Top Menu End -->
        </div>
        <!-- container end -->
      </nav>

    </header>
    <!-- Header End -->


    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">


      <!-- Over -->
      <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
      <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

      <div class="container text-left">
        <div class="row">
          
          <div class="col-md-8">
            <h1 class="wed_h1_title">Wedding Journal</h1>
            <h3>Some Subtitle</h3>
          </div>
          
          <div class="col-md-4">
            <div class="breadcrumbs">
              <a href="#">Home</a><a href="#">Blog</a><span>Wedding Journal</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">


        <!-- section -->
        <section class="wed_section_innerpage">
            <div class="container">

            <div class="row">
                <div class="col-md-12">

                    <div class="row masonry">
                        <div class="col-md-4 masonry-item">
                            <!-- Post Item -->
                            <div class="wed_post_item">

                                <div class="wed_post_img">
                                  <a href="#"><img src="http://placehold.it/790x600" alt=""></a>
                                </div>
                                  
                                <div class="wed_post_title">
                                  <h3><a href="#">We Love to design</a></h3>
                                </div>
                                  
                                <div class="wed_post_info">
                                    August 10
                                    <span class="slash-divider">/</span>
                                    <a href="#">Harold Henry</a>
                                    <span class="slash-divider">/</span>
                                    <a href="#">Web-design</a>, <a href="#">Marketing</a>
                                </div>

                              
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum. 
                                </p>
                              
                                <div class="wed_post_more clearfix">
                                  
                                  <div class="pull-left">
                                    <a href="#" class="btn btn_new">READ MORE</a>
                                  </div>
                                  
                                  <div class="pull-right" >
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                    <a href="#" class="dropdown-toggle wed_post_more_link" data-toggle="dropdown" aria-expanded="false" >
                                      <i class="ti ti-sharethis"></i>
                                    </a>
                                    <ul class="wed_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                      <li><a href="#"><i class="ti ti-facebook"></i></a>
                                      </li>
                                      <li><a href="#"><i class="ti ti-twitter"></i></a>
                                      <li><a href="#"><i class="ti ti-instagram"></i></a>
                                    </ul>
                                  </div>

                                </div>
                            </div>
                            <!-- item end -->
                        </div>
                        <div class="col-md-4 masonry-item">
                            
                            <!-- Post Item -->
                            <div class="wed_post_item">

                                <div class="wed_post_img wed_team_slider_single">
                                  <a href="#"><img src="http://placehold.it/790x600" alt=""></a>
                                  <a href="#"><img src="http://placehold.it/790x600" alt=""></a>
                                  <a href="#"><img src="http://placehold.it/790x600" alt=""></a>
                                </div>
                                  
                                <div class="wed_post_title">
                                  <h3><a href="#">Post with Slider Gallery</a></h3>
                                </div>
                                  
                                <div class="wed_post_info">
                                    August 10
                                    <span class="slash-divider">/</span>
                                    <a href="#">Harold Henry</a>
                                    <span class="slash-divider">/</span>
                                    <a href="#">Web-design</a>, <a href="#">Marketing</a>
                                </div>

                              
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum. 
                                </p>
                              
                                <div class="wed_post_more clearfix">
                                  
                                  <div class="pull-left">
                                    <a href="#" class="btn btn_new">READ MORE</a>
                                  </div>
                                  
                                  <div class="pull-right" >
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                    <a href="#" class="dropdown-toggle wed_post_more_link" data-toggle="dropdown" aria-expanded="false" >
                                      <i class="ti ti-sharethis"></i>
                                    </a>
                                    <ul class="wed_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                      <li><a href="#"><i class="ti ti-facebook"></i></a>
                                      </li>
                                      <li><a href="#"><i class="ti ti-twitter"></i></a>
                                      <li><a href="#"><i class="ti ti-instagram"></i></a>
                                    </ul>
                                  </div>

                                </div>
                            </div>
                            <!-- item end -->
                        </div>

                        <div class="col-md-4 masonry-item">
                            <!-- Post Item -->
                            <div class="wed_post_item">

                                <div class="wed_post_img">
                                  <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/239793212&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false" style="width: 100%; height: 166px; border: 0;"></iframe>
                                </div>
                                  
                                <div class="wed_post_title">
                                  <h3><a href="#">Post with Soundcloud</a></h3>
                                </div>
                                  
                                <div class="wed_post_info">
                                    August 10
                                    <span class="slash-divider">/</span>
                                    <a href="#">Harold Henry</a>
                                    <span class="slash-divider">/</span>
                                    <a href="#">Web-design</a>, <a href="#">Marketing</a>
                                </div>

                              
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum. 
                                </p>
                              
                                <div class="wed_post_more clearfix">
                                  
                                  <div class="pull-left">
                                    <a href="#" class="btn btn_new">READ MORE</a>
                                  </div>
                                  
                                  <div class="pull-right" >
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                    <a href="#" class="dropdown-toggle wed_post_more_link" data-toggle="dropdown" aria-expanded="false" >
                                      <i class="ti ti-sharethis"></i>
                                    </a>
                                    <ul class="wed_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                      <li><a href="#"><i class="ti ti-facebook"></i></a>
                                      </li>
                                      <li><a href="#"><i class="ti ti-twitter"></i></a>
                                      <li><a href="#"><i class="ti ti-instagram"></i></a>
                                    </ul>
                                  </div>

                                </div>
                            </div>
                            <!-- item end -->
                        </div>

                        <div class="col-md-4 masonry-item">
                            <!-- Post Item -->
                            <div class="wed_post_item">

                                <div class="wed_post_img">
                                  <a href="#"><img src="http://placehold.it/790x600" alt=""></a>
                                </div>
                                  
                                <div class="wed_post_title">
                                  <h3><a href="#">We Love to design</a></h3>
                                </div>
                                  
                                <div class="wed_post_info">
                                    August 10
                                    <span class="slash-divider">/</span>
                                    <a href="#">Harold Henry</a>
                                    <span class="slash-divider">/</span>
                                    <a href="#">Web-design</a>, <a href="#">Marketing</a>
                                </div>

                              
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum. 
                                </p>
                              
                                <div class="wed_post_more clearfix">
                                  
                                  <div class="pull-left">
                                    <a href="#" class="btn btn_new">READ MORE</a>
                                  </div>
                                  
                                  <div class="pull-right" >
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                    <a href="#" class="dropdown-toggle wed_post_more_link" data-toggle="dropdown" aria-expanded="false" >
                                      <i class="ti ti-sharethis"></i>
                                    </a>
                                    <ul class="wed_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                      <li><a href="#"><i class="ti ti-facebook"></i></a>
                                      </li>
                                      <li><a href="#"><i class="ti ti-twitter"></i></a>
                                      <li><a href="#"><i class="ti ti-instagram"></i></a>
                                    </ul>
                                  </div>

                                </div>
                            </div>
                            <!-- item end -->
                        </div>
                        <div class="col-md-4 masonry-item">
                            <!-- Post Item -->
                            <div class="wed_post_item">

                                <div class="wed_post_img">
                                    <iframe style="width: 100%; height: 600px; border: 0;" src="https://www.youtube.com/embed/uVju5--RqtY?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
                                </div>
                                  
                                <div class="wed_post_title">
                                  <h3><a href="#">Post with Video</a></h3>
                                </div>
                                  
                                <div class="wed_post_info">
                                    August 10
                                    <span class="slash-divider">/</span>
                                    <a href="#">Harold Henry</a>
                                    <span class="slash-divider">/</span>
                                    <a href="#">Web-design</a>, <a href="#">Marketing</a>
                                </div>

                              
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum. 
                                </p>
                              
                                <div class="wed_post_more clearfix">
                                  
                                  <div class="pull-left">
                                    <a href="#" class="btn btn_new">READ MORE</a>
                                  </div>
                                  
                                  <div class="pull-right" >
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                    <a href="#" class="dropdown-toggle wed_post_more_link" data-toggle="dropdown" aria-expanded="false" >
                                      <i class="ti ti-sharethis"></i>
                                    </a>
                                    <ul class="wed_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                      <li><a href="#"><i class="ti ti-facebook"></i></a>
                                      </li>
                                      <li><a href="#"><i class="ti ti-twitter"></i></a>
                                      <li><a href="#"><i class="ti ti-instagram"></i></a>
                                    </ul>
                                  </div>

                                </div>
                            </div>
                            <!-- item end -->
                        </div>

                        <div class="col-md-4 masonry-item">
                            <!-- Post Item -->
                            <div class="wed_post_item">

                                <div class="wed_post_img">
                                  <a href="http://placehold.it/790x600" class="lightbox">
                                      <img src="http://placehold.it/790x600" alt="">
                                  </a>
                                </div>
                                  
                                <div class="wed_post_title">
                                  <h3><a href="#">Post with Lighbox</a></h3>
                                </div>
                                  
                                <div class="wed_post_info">
                                    August 10
                                    <span class="slash-divider">/</span>
                                    <a href="#">Harold Henry</a>
                                    <span class="slash-divider">/</span>
                                    <a href="#">Web-design</a>, <a href="#">Marketing</a>
                                </div>

                              
                                <p>
                                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, nostrum, cumque culpa provident aliquam commodi assumenda laudantium magnam illo nostrum. Donec nibh sapien, molestie quis elementum et, dim non atino ipsum. 
                                </p>
                              
                                <div class="wed_post_more clearfix">
                                  
                                  <div class="pull-left">
                                    <a href="#" class="btn btn_new">READ MORE</a>
                                  </div>
                                  
                                  <div class="pull-right" >
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-comment"></i><span>14</span></a>
                                    <a href="#" class="wed_post_more_link"><i class="ti ti-heart"></i><span>154</span></a>
                                    <a href="#" class="dropdown-toggle wed_post_more_link" data-toggle="dropdown" aria-expanded="false" >
                                      <i class="ti ti-sharethis"></i>
                                    </a>
                                    <ul class="wed_post_more_social_menu dropdown-menu dropdown-menu-right" role="menu">
                                      <li><a href="#"><i class="ti ti-facebook"></i></a>
                                      </li>
                                      <li><a href="#"><i class="ti ti-twitter"></i></a>
                                      <li><a href="#"><i class="ti ti-instagram"></i></a>
                                    </ul>
                                  </div>

                                </div>
                            </div>
                            <!-- item end -->
                        </div>

                    </div>
                    
                    
                    
                    <!-- navigation -->
                    <nav class="wed_blog_pag">
                        <ul class="pagination">
                            <li><a href="#"><i class="ti ti-angle-left"></i></a></li>
                            <li class="active" ><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="ti ti-angle-right"></i></a></li>
                        </ul>
                    </nav>
                    <!-- navigation end -->

                </div>
                <!-- col end -->
                
                

            </div>
                                
           
                    
            </div>
            <!-- container end -->
        </section>
        <!-- section end -->

    </section>
    <!-- section end -->


    
        
    

    <!-- White border -->
    <div class="wed_water_border">
      <!-- section -->
      <section id="rsvp" class="wed_section_inner wed_image_bck wed_fixed" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">
        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
        <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container text-center wed_wht_txt wed_great_titles">
          <div class="row">
            <div class="col-md-8 col-md-pull-2 col-md-push-2 col-sm-12">
            <h2 class="wed_form_txt">Be our guest!</h2>
            <p class="wed_form_txt">Cupiditate neque libero porro nulla.</p>
              <form id="wed_form" class="wed_form">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Name" name="name" required>
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" required>
                  </div>
                  <div class="col-md-12">
                    <select class="form-control" name="guests" required>
                      <option value="">#Guests</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" placeholder="Message" name="message"></textarea>
                    <input type="submit" class="btn btn_new wed_btn_margbot" value="Send">
                  </div>

                </div>
              </form>

            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
          </div>
          <!-- container end -->
        </section>
        <!--section end -->

          <!-- To Top -->
        <a href="#wed_page" class="wed_top ti ti-angle-up wed_go"></a>
      </div>
      <!-- White border end -->
    </section>
    <!-- content end -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/library/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>




<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>