<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body>

  <!-- Firefly -->
  <div class="wed_firefly">
    <div class="jqueryFireFly" data-total="60" data-minPixel="1" data-maxPixel="4"></div>
  </div>

  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>       
      <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

          <!-- couple header -->
          <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
          <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
          <!-- couple header end -->

          <!-- Logo -->
          <a href="#" class="wed_logo wed_logo_animation">Sally & Mark</a>

          <!-- Text Logo -->
          <div class="wed_logo_und">Wedding</div>


          <div class="wed_top_menu_mobile_link">
            <i class="ti ti-menu"></i>
          </div>
          <!-- Top Menu -->
          <div class="wed_top_menu_cont">
              <ul class="wed_top_menu">
                <li class="wed_parent"><a href="#">Home</a>
                  <ul>
                       <li><a href="02_multipage_index.html">Purple Hearts Miltipage</a></li>
                       <li><a href="02_index.html">Firefly Demo</a></li>
                       <li><a href="02_index.html">Dandelions Demo</a></li>
                       <li><a href="03_index.html">Red Roses Demo</a></li>
                       <li><a href="04_index.html">Orange Roses Demo</a></li>
                       <li><a href="06_index.html">Blue Butterflies Demo</a></li>
                       <li><a href="05_index.html">Purple Butterflies Demo</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">About</a>
                  <ul>
                       <li><a href="02_04_about_him.html">About Him</a></li>
                       <li><a href="02_05_about_her.html">About Her</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">Gallery</a>
                  <ul>
                       <li><a href="01_04_portfolio_masonry_full_3col.html">Full 3 Column</a></li>
                       <li><a href="02_01_portfolio_masonry_fixed_3col.html">Full No Padding</a></li>
                       <li><a href="01_09_portfolio_masonry_full_nopadding_3col.html">Fixed 3 Column</a></li>
                  </ul>
                </li>
                <li><a href="02_06_story.html">Story</a></li>
                <li class="wed_parent"><a href="#">The Wedding</a>
                  <ul>
                       <li><a href="01_05_accomodation.html">Accomodation</a></li>
                       <li><a href="01_06_location.html">Location</a></li>
                       <li><a href="01_07_bridesmaid.html">Bridesmaid</a></li>
                       <li><a href="01_08_groomsman.html">Groomsman</a></li>
                      <li><a href="02_01_gift_registry.html">Gift Registry</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">Blog</a>
                  <ul>
                       <li><a href="01_03_blog_fullwidth.html">Blog Fillwidth</a></li>
                       <li><a href="01_02_blog_masonry_3col.html">Blog Masonry</a></li>
                       <li><a href="01_01_wedding journal.html">Blog Single Page</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">RSVP</a>
                  <ul>
                       <li><a href="02_02_reservation.html">RSVP 1</a></li>
                       <li><a href="02_03_reservation.html">RSVP 2</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <!-- Top Menu End -->
        </div>
        <!-- container end -->
      </nav>

    </header>
    <!-- Header End -->


    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="images/fashion_couple/slider1.jpg">


      <!-- Over -->
      <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
      <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

      <div class="container text-left">
        <div class="row">
          
          <div class="col-md-8">
            <h1 class="wed_h1_title">Location</h1>
            <h3>Some Subtitle</h3>
          </div>
          
          <div class="col-md-4">
            <div class="breadcrumbs">
              <a href="#">Home</a><a href="#">Pages</a><span>Location</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- PAGE TITLE SMALL END-->

    <!-- Content -->
    <section id="wed_content" class="wed_content">

        <section class="wed_section_inner">
          <div class="container">
            <div class="row">
              <div class="col-md-6 wed_event_hours">
                <h3>Ceremony Hours</h3>
                <i>Wedding-Monday</i>
                <b>8:00 AM – 2:30 PM</b><br>
                <i>Accomodation-Tuesday</i>
                <b>8:00 AM – 7:00 PM</b><br>
                <i>Bachelor-Party-Wednesday</i>
                <b>8:00 AM – 7:00 PM</b><br>
                <i>Restaurant-Thuesday</i>
                <b>8:00 AM – 7:00 PM</b><br>
                <i>Party-Wednesday</i>
                <b>6:00 PM – 23:00 PM</b><br>
              </div>  
              <div class="col-md-6 hidden-sm hidden-xs">
                <img src="http://placehold.it/790x766" alt="">
              </div>
            </div>
            <!-- Row End -->
          </div>
          <!-- Container End -->
        </section>
      <!-- section -->
      <section class="wed_section_innerpage">
        <div class="containter">
          <div class="row wed_inside_map">
            <div class="col-md-12">

                 <!-- over -->
              <div class="wed_map_over text-center wed_wht_txt">
                <div class="wed_map_txt wed_icon_box">
                  <img class="wed_small_img" src="images/small_people/rising_heart.png" alt="">
                  <div class="wed_icon_box_content">
                    <h4><b>Open The Map</b></h4>
                  </div>
                </div>
              </div>
              <!-- over end -->

              <!-- over -->
              <div class="wed_over" data-color="rgb(145, 74, 242)" data-opacity="0.9"></div>
              
                <!-- map -->
                <div id="map" class="wed_map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d310746.90945683786!2d12.918360609588492!3d52.520582938561994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1454387964065" style="border:0; height: 450px; width: 100%;" allowfullscreen></iframe>
                </div>
                <!-- map end -->

            </div> 
          </div> 
        </div>
      <!-- container end -->
        <div class="container-full">

          <div class="row text-center">
            <!-- Item -->
            <div class="col-md-4 wed_nopadding">
              <img src="http://placehold.it/790x766" class="wed_fullwidth" alt="">
              <div class="wed_pad_txt">
                <h3>Hotel</h3>
                <span>Avenue Paducah 1285 7th street<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
              </div>
                    
            </div>

            <!-- Item -->
            <div class="col-md-4 wed_nopadding">
              <img src="http://placehold.it/790x766" class="wed_fullwidth" alt="">
              <div class="wed_pad_txt">
                  <h3>Restaurant</h3>
                  <span>Avenue Paducah 1285 7th street<br><br></span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
              </div>   
              </div>
               <!-- Item -->
              <div class="col-md-4 wed_nopadding">
                <img src="http://placehold.it/790x766" class="wed_fullwidth" alt="">
                <div class="wed_pad_txt">
                  <h3>Church</h3>
                  <span>Avenue Paducah 1285 7th street<br><br></span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
                </div>    
              </div>

          </div>
          <!-- Row End -->
        </div>
        <!-- container end -->
    </section>
    <!-- section end -->

  </section>
  <!-- section end -->
  
    
    <!-- White border -->
    <div class="wed_water_border">
      <!-- section -->
      <section id="rsvp" class="wed_section_inner wed_image_bck wed_fixed" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">
      <!-- Over -->
      <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
      <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

        <div class="container text-center wed_wht_txt wed_great_titles">
          <div class="row">
            <div class="col-md-8 col-md-pull-2 col-md-push-2 col-sm-12">
            <h2 class="wed_form_txt">Be our guest!</h2>
            <p class="wed_form_txt">Cupiditate neque libero porro nulla.</p>
              <form id="wed_form" class="wed_form">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Name" name="name" required>
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="E-mail" name="email" required>
                  </div>
                  <div class="col-md-12">
                    <select class="form-control" name="guests" required>
                      <option value="">#Guests</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <textarea class="form-control" placeholder="Message" name="message"></textarea>
                    <input type="submit" class="btn btn_new wed_btn_margbot" value="Send">
                  </div>

                </div>
              </form>

            </div>
            <!-- col end -->
          </div>
          <!-- row end -->
          </div>
          <!-- container end -->
        </section>
        <!--section end -->

          <!-- To Top -->
        <a href="#wed_page" class="wed_top ti ti-angle-up wed_go"></a>
      </div>
      <!-- White border end -->
    </section>
    <!-- content end -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/library/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>




<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>