<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body class="wed_shop_small_img">

  <!-- Firefly -->
  <div class="wed_firefly">
    <div class="jqueryFireFly" data-total="60" data-minPixel="1" data-maxPixel="4"></div>
  </div>

  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>  
        <!-- Header Contacts -->
        <div class="wed_header_tech hidden-xs wed_image_bck wed_wht_txt" data-color="#af6eff">
            <div class="container">

                <!-- Language Block -->
                <div class="wed_header_lang">
                    <ul>
                        <li class="wed_parent"><span>English</span>
                            <ul>
                                <li>
                                    <a href="#">French</a>
                                </li>
                                <li>
                                    <a href="#">Deutsche</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Language Block end -->

                <!-- Contacts -->
                <div class="wed_header_address">
                    <span class="wed_phone">Call us: 1.777.77.777</span>
                    <span class="wed_location">68 Cardamon Place, Melbourne Vic 3000</span>
                </div>
                <!-- Contacts end--> 
            </div>
            <!-- container end -->

        </div>
        <!-- Header Contacts End -->
        <nav class="wed_light_nav wed_transp_nav">
            <div class="container">

              <!-- couple header -->
              <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
              <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
              <!-- couple header end -->

              <!-- Logo -->
              <a href="#" class="wed_logo wed_logo_animation">Love Shop</a>

              <!-- Text Logo -->
              <div class="wed_logo_und">Wedding</div>

                <!-- Basket -->
                <div class="wed_header_search wed_header_basket">
                    <span><i class="ti ti-shopping-cart"></i></span>
                    
                    <div class="wed_header_basket_cont">

                        <a href="#" class="wed_bask_block_item">
                            <img src="images/shop/items/acces3.jpg" alt="">
                            Earings
                            $11.99
                        </a>

                        <a href="#" class="wed_bask_block_item">
                            <img src="images/shop/items/acces5.jpg" alt="">
                            Golden Ring
                            $26.99
                        </a>
                        <div class="wed_bask_btns">
                            <span class="total">Total:$19.98</span>
                            <a href="#" class="btn btn-default">Checkout</a> 
                        </div>
                    </div>
                </div>
                <!-- Basket End -->

                <!-- Search -->
                <div class="wed_header_search">
                    <span><i class="ti ti-search"></i></span>
                    <div class="wed_header_search_cont">
                        <form action="#">
                            <input type="text" class="form-control" placeholder="Search">
                            <input type="submit" class="btn">
                        </form>
                    </div>
                </div>
                <!-- Search End -->

                <div class="wed_top_menu_mobile_link">
                    <i class="ti ti-menu"></i>
                </div>
                <!-- Top Menu -->
                <div class="wed_top_menu_cont">
                  <ul class="wed_top_menu">
                    <li class="wed_parent"><a href="#">Home</a>
                      <ul>
                        <li><a href="01_multipage_index.html">Red Hearts Miltipage</a></li>
                         <li><a href="02_multipage_index.html">Purple Hearts Miltipage</a></li>
                         <li><a href="01_index.html">Firefly Demo</a></li>
                         <li><a href="02_index.html">Dandelions Demo</a></li>
                         <li><a href="03_index.html">Red Roses Demo</a></li>
                         <li><a href="04_index.html">Orange Roses Demo</a></li>
                         <li><a href="06_index.html">Blue Butterflies Demo</a></li>
                         <li><a href="05_index.html">Purple Butterflies Demo</a></li>
                      </ul>
                      </li>
                      <li><a href="02_08_shop_sidebar_4col.html">Shop Full</a></li>
                      <li><a href="02_07_shop_single.html">Shop Single</a></li> 
                      <li><a href="02_09_shop_cart.html">Cart</a></li>
                      <li><a href="03_00_shop_checkout.html">Check Out</a></li>                
                  </ul>
                </div>
                 <!-- Top Menu End -->
            </div>
            <!-- container end -->
        </nav>

    </header>
    <!-- Header End -->

    <!-- Slider -->
    <div class="wed_slider_carousel wed_shop_slider wed_slider_txt_animation">
      <!-- PAGE TITLE SMALL Item -->
        <div class="wed_page_title wed_page_title_great wed_image_bck wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">


          <!-- Over -->
          <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
          <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

          <div class="container text-left">
            <div class="row">
              <div class="col-md-7">
                <h3>This Week Discount</h3>
                <h3>40% off</h3>
                <a href="#"  class="btn wed_shop_btn">Shop Now</a>
              </div>
              <div class="col-md-5">
                <img class="wed_shop_slider_img" src="http://placehold.it/800x800" alt="">
              </div> 
            </div>
          </div>
        </div>

      <!-- PAGE TITLE SMALL Item END-->

      <!-- PAGE TITLE SMALL Item -->

        <div class="wed_page_title wed_page_title_great wed_image_bck wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">


          <!-- Over -->
          <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>
          <div class="wed_over" data-color="#000" data-opacity="0.1"></div>

          <div class="container text-right">
            <div class="row">
              <div class="col-md-5">
                <img class="wed_shop_slider_img" src="http://placehold.it/800x800" alt="">
              </div> 
              <div class="col-md-7">
                <h3>This Week Discount</h3>
                <h3>40% off</h3>
                <a href="#"  class="btn wed_shop_btn">Shop Now</a>
              </div>
              
            </div>
          </div>
        </div>

      <!-- PAGE TITLE SMALL Item END-->
    </div>
     <!-- Slider End-->


    <!-- Content -->
    <section id="wed_content" class="wed_content">


        <!-- section -->
        <section class="wed_section_outter wed_shop_divider">
            <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-push-4 col-xs-12">



                    <div class="wed_shop_header">
                        <div class="row">
                            <div class="col-md-6">
                                Showing 1–10 of 24 results
                            </div>
                            <div class="col-md-6 text-right">
                                <select name="type">
                                    <option value="" selected="selected">Sort By</option>
                                    <option value="">What's new</option>
                                    <option value="">Price high to low</option>
                                    <option value="">Price low to high</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <!-- animation -->
                        <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                    
                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_sale">Sale</span>
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Vintage Floral Off Dress
                                        <b><s>$120.36</s> $88.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Lost Ink Knitted Polo Shirt
                                        <b>$58.16</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        New Look Step Hem Tee
                                        <b>$25.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                        <img src="http://placehold.it/800x800" alt="">
                                        <img src="http://placehold.it/800x800" alt="">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Full Midi Dress in Bright Floral Print
                                        <b>$76.28</b>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- animation end -->
                    
                    </div>
                    <!-- row end -->

                    <div class="row">

                        <!-- animation -->
                        <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Full Midi Dress in Bright Floral Print
                                        <b>$24.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        T-Shirt In Stripe With Maybe Print
                                        <b>$23.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <a href="#" class="wed_shop_item_link"></a>
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Pleated Culottes in Gingham Check
                                        <b>$25.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Midi Skater Dress With Cross Back
                                        <b>$14.96</b>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- animation end -->
                    
                    </div>
                    <!-- row end -->

                    <div class="row">

                        <!-- animation -->
                        <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                    
                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_sale">Sale</span>
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Vintage Floral Off Dress
                                        <b><s>$120.36</s> $88.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Lost Ink Knitted Polo Shirt
                                        <b>$58.16</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        New Look Step Hem Tee
                                        <b>$25.96</b>
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 wed_anim_box">
                                <div class="wed_shop_item">
                                    <span class="wed_shop_item_slider">
                                        <img src="http://placehold.it/800x800" alt="">
                                    </span>
                                    <div class="wed_shop_item_links">
                                        <a href="#shop"><i class="ti ti-shopping-cart"></i></a>
                                    </div>
                                    <a href="#" class="wed_shop_item_title">
                                        Full Midi Dress in Bright Floral Print
                                        <b>$76.28</b>
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- animation end -->
                    
                    </div>
                    <!-- row end -->

                    <nav class="wed_blog_pag">
                        <ul class="pagination">
                            <li><a href="#"><i class="ti ti-angle-left"></i></a></li>
                            <li class="active" ><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#"><i class="ti ti-angle-right"></i></a></li>
                        </ul>
                    </nav> 

                    </div>

                    <!--Sidebar-->
                    <div class="col-md-3 col-md-pull-8 hidden-xs hidden-sm">
                        

                        <div class="widget">
                            <h6 class="title">Categories</h6>
                            <ul class="list-unstyled">
                                <li><a href="#">All Products</a></li>
                                <li><a href="#">Mens Wear</a></li>
                                <li><a href="#">Womens Wear</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Shoes</a></li>
                                <li><a href="#">Hats</a></li>
                            </ul>

                        </div>

                        <div class="widget">
                            <h6 class="title">Recently Viewed</h6>
                            <ul class="list-unstyled wed_products_recent">
                                <li>
                                    <a href="#">
                                        <span class="wed_product_thumbnail">
                                            <img src="http://placehold.it/800x800" alt="" />
                                        </span>
                                        <span class="wed_product_title">Midi Skater Dress With Cross Back</span>
                                    </a>
                                    <span class="wed_product_price"><s>$19.00</s> $17.00</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="wed_product_thumbnail">
                                            <img src="http://placehold.it/800x800" alt="" />
                                        </span>
                                        <span class="wed_product_title">Pleated Culottes in Gingham Check</span>
                                    </a>
                                    <span class="wed_product_price">$29.00</span>
                                </li>
                            </ul>
                        </div>

                        <div class="widget">
                            <h6 class="title">Product Tags</h6>
                            <div class="wed_tags">
                                <a href="#">Hobby</a>
                                <a href="#">Vintage</a>
                                <a href="#">Design</a>
                                <a href="#">Oldschool</a>
                                <a href="#">Urban</a>
                                <a href="#">Cultural</a>
                                <a href="#">Work</a>  
                            </div>

                        </div>

                        <div class="widget">
                            <h6 class="title">Cart</h6>
                            <ul class="list-unstyled wed_products_recent">
                                <li>
                                    <a href="#">
                                        <span class="wed_product_thumbnail">
                                            <img src="http://placehold.it/800x800" alt="" />
                                        </span>
                                        <span class="wed_product_close"><i class="ti ti-close"></i></span>
                                        <span class="wed_product_title">Midi Skater Dress With Cross Back</span>
                                    </a>
                                    <span class="wed_product_price"><s>$19.00</s> $17.00</span>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="wed_product_thumbnail">
                                            <img src="http://placehold.it/800x800" alt="" />
                                        </span>
                                        <span class="wed_product_close"><i class="ti ti-close"></i></span>
                                        <span class="wed_product_title">Pleated Culottes in Gingham Check</span>
                                    </a>
                                    <span class="wed_product_price">$29.00</span>
                                </li>
                            </ul>
                        </div>


                        


                        <div class="widget">
                            <h6 class="title">Shipping Options</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. </p>
                        </div>


                        <div class="widget bg-secondary p24">
                            <h6 class="title">Subscribe Now</h6>
                            <p>
                                Subscribe to our newsletter.
                            </p>
                            <form>
                                <input type="text" class="form-control" name="email" placeholder="Email Address" />
                                <input type="submit" class="btn btn-default no-margin" value="Subscribe" />
                            </form>
                        </div>
                      
                        

                    </div>
                    <!--Sidebar End-->


                </div>
        
            </div>
            <!-- container end -->
        </section>
        <!-- section end -->
        
        <!-- section -->
        <section class="wed_section wed_section_sml_padding">
            <div class="container">
                
                <!-- boxes -->
                <div class="wed_icon_boxes row text-center">
                       
                    <!-- animation -->     
                    <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                        

                        <!-- item -->
                        <div class="wed_icon_box col-md-4 col-sm-4">
                            <i class="ti ti-map-alt"></i>
                            <div class="wed_icon_box_content">
                                <h4><b>ADRESS:</b> 245 Quigley Blvd, Ste K</h4>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="wed_icon_box col-md-4 col-sm-4">
                            <i class="ti ti-email"></i>
                            <div class="wed_icon_box_content">
                                <h4><b>E-MAIL:</b> <a href="mailto:verothemes@gmail.com">support@VeroThemes.pro</a></h4>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="wed_icon_box col-md-4 col-sm-4">
                            <i class="ti ti-mobile"></i>
                            <div class="wed_icon_box_content">
                                <h4><b>PHONE:</b> +61 3 8376 6284</h4>
                            </div>
                        </div> 
                        
                    </div>
                    <!-- animation end -->

                </div>
                <!-- boxes end -->

            </div>
            <!-- container end -->
        </section>
        <!-- section end -->

    </section>
    <!-- section end -->


    
        
    

    <!-- Footer -->
    <footer class="wed_image_bck wed_wht_txt" data-color="#7f3add">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <h4>Blog</h4>
                    <ul>
                        <li><a href="#">Thomsoon</a></li>
                        <li><a href="#">Free mockup</a></li>
                        <li><a href="#">No way. New UI elements</a></li>
                        <li><a href="#">Thomsoon Shop</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>Shop</h4>
                    <p>Please Visit Out Shop <br>
                    68 Cardamon Place, Melbourne Vic 3000<br>
                    Call us: 1.777.77.777
                    </p>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>Social</h4>
                    <ul>
                        <li><a href="#">Behance</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Dribble</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3">
                    <h4>Latest Tweets</h4>
                    <div class="twitter-feed">
                        <div class="tweets-feed" data-widget-id="736064371990761472">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/library/jquery.plugin.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>




<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>