<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body class="wed_inside_pages wed_agency">

  <!-- Firefly -->
  <div class="wed_firefly">
    <div class="jqueryFireFly" data-total="60" data-minPixel="1" data-maxPixel="4"></div>
  </div>
<!-- Page -->
<div class="wed_page" id="wed_page">
    
    <!-- To Top -->
    <a href="#wed_page" class="wed_top ti ti-angle-up wed_go"></a>
    
    <!-- Header -->
    <header>       

        
    
        <nav class="wed_light_nav wed_transp_nav">
            <div class="container">
                
              <!-- couple header -->
              <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
              <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
              <!-- couple header end -->
                <!-- Logo -->
                <a href="/" class="wed_logo wed_logo_animation">Love Agency</a>
                
                <!-- Text Logo -->
                <div class="wed_logo_und">Wedding</div>

                <!-- Search -->
                <div class="wed_header_search">
                    <span><i class="ti ti-search"></i></span>
                    <div class="wed_header_search_cont">
                        <form action="#">
                            <input type="text" class="form-control" placeholder="Search">
                            <input type="submit" class="btn">
                        </form>
                    </div>
                </div>
                <!-- Search End -->
                
                <div class="wed_top_menu_mobile_link">
                    <i class="ti ti-menu"></i>
                </div>
                <!-- Top Menu -->
                <div class="wed_top_menu_cont">
                  <ul class="wed_top_menu">
                    <li class="wed_parent"><a href="#">Home</a>
                      <ul>
                        <li><a href="01_multipage_index.html">Red Hearts Miltipage</a></li>
                         <li><a href="02_multipage_index.html">Purple Hearts Miltipage</a></li>
                         <li><a href="01_index.html">Firefly Demo</a></li>
                         <li><a href="02_index.html">Dandelions Demo</a></li>
                         <li><a href="03_index.html">Red Roses Demo</a></li>
                         <li><a href="04_index.html">Orange Roses Demo</a></li>
                         <li><a href="06_index.html">Blue Butterflies Demo</a></li>
                         <li><a href="05_index.html">Purple Butterflies Demo</a></li>
                      </ul>
                      </li>
                      <li class="wed_parent"><a href="#">Pages</a>
                        <ul>
                          <li><a href="03_07_team.html">Team</a></li>
                          <li><a href="03_08_team_single.html">Team Single</a></li>
                          <li><a href="04_02_about.html">About</a></li>
                          <li><a href="03_09_pages_contact.html">Contacts</a></li>
                          <li><a href="04_01_services.html">Services</a></li>
                          <li><a href="04_00_services_single.html">Services Single</a></li> 
                          <li><a href="03_04_agency_portfolio_masonry_full_3col.html">Portfolio Full 3 Column</a></li>
                          <li><a href="03_06_agency_portfolio_masonry_fixed_3col.html">Portfolio No Padding</a></li>
                           <li><a href="03_05_agency_portfolio_masonry_full_nopadding_3col.html">Portfolio Fixed 3 Column</a>
                           </li>
                            <li><a href="03_03_agency_blog_fullwidth.html">Blog Fillwidth</a></li>
                           <li><a href="03_02_agency_blog_masonry_3col.html">Blog Masonry</a></li>
                           <li><a href="03_01_agency_blog_single.html">Blog Single Page</a></li>
                        </ul>
                      </li>
                      <li><a href="02_08_shop_sidebar_4col.html">Shop Full</a></li>
                      <li><a href="02_07_shop_single.html">Shop Single</a></li> 
                      <li><a href="02_09_shop_cart.html">Cart</a></li>
                      <li><a href="03_00_shop_checkout.html">Check Out</a></li>                
                  </ul>
                </div>
                 <!-- Top Menu End -->


               
            </div>
            <!-- container end -->
        </nav>
        
    </header>
    <!-- Header End -->


    <!-- PAGE TITLE SMALL -->
    <div class="wed_page_title wed_page_title_great wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">

        <!-- Over -->
        <div class="wed_over" data-color="#8630fc" data-opacity="0.9"></div>

      <div class="container text-left">
        <div class="row">
          
          <div class="col-md-8">
            <h3 class="wed_h1_title">Contacts</h3>
            <p>Some Subtitle</p>
          </div>
          
          <div class="col-md-4">
            <div class="breadcrumbs">
              <a href="#">Home</a><a href="#">PAGES</a><span>Contact</span>
            </div>
          </div>
          
        </div>
      </div>
    </div>

    <!-- Content -->
    <section id="wed_content" class="wed_content">


        <!-- section -->
        <section class="wed_section_outter">
            
            
            <!-- map -->
            <div class="wed_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d310746.90945683786!2d12.918360609588492!3d52.520582938561994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1454387964065" style="border:0; height: 450px; width: 100%;" allowfullscreen></iframe>
            </div>
            <!-- map end -->

        </section>
        <!-- section end -->


        <!-- section -->
        <section class="wed_section_outter">
            <div class="container text-center">
                   

                <div class="row">

                    <div class="col-md-8 col-md-offset-2">
                        <h3>Contact Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur <b>adipisicing elit, sed do eiusmod tempor</b> incididunt ut labore et dolore magna aliqua.</p>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Country">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="E-mail">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" placeholder="Phone">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea class="form-control" placeholder="Message"></textarea>
                                    <input type="submit" class="btn" value="Send">
                                </div>

                            </div>
                        </form>
                        
                    </div>
                    <!-- col end -->
                </div>
                

            </div>
            <!-- container end -->

        </section>
        <!-- section end -->
        
            <!-- section -->
        <section class="wed_section wed_section_sml_padding wed_image_bck" data-color="#f2f2f2">
            <div class="container">
                
                <!-- boxes -->
                <div class="wed_icon_boxes row text-center">
                       
                    <!-- animation -->     
                    <div data-animation="animation_blocks" data-bottom="@class:noactive" data--100-bottom="@class:active">
                        

                        <!-- item -->
                        <div class="wed_icon_box col-md-4 col-sm-4">
                            <i class="ti ti-map-alt"></i>
                            <div class="wed_icon_box_content">
                                <h4><b>ADDRESS:</b> 245 Quigley Blvd, Ste K</h4>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="wed_icon_box col-md-4 col-sm-4">
                            <i class="ti ti-email"></i>
                            <div class="wed_icon_box_content">
                                <h4><b>E-MAIL:</b> <a href="mailto:support@verothemes.pro">support@verothemes.pro</a></h4>
                            </div>
                        </div>

                        <!-- item -->
                        <div class="wed_icon_box col-md-4 col-sm-4">
                            <i class="ti ti-mobile"></i>
                            <div class="wed_icon_box_content">
                                <h4><b>PHONE:</b> +61 3 8376 6284</h4>
                            </div>
                        </div> 
                        
                    </div>
                    <!-- animation end -->

                </div>
                <!-- boxes end -->

            </div>
            <!-- container end -->
        </section>
        <!-- section end -->
    
        

    </section>   
    <!-- Content End -->

      <!-- Footer -->
      <footer class="wed_image_bck wed_wht_txt" data-color="#7f3add">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <h4>Blog</h4>
                      <ul>
                          <li><a href="#">Thomsoon</a></li>
                          <li><a href="#">Free mockup</a></li>
                          <li><a href="#">No way. New UI elements</a></li>
                          <li><a href="#">Thomsoon Shop</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <h4>Shop</h4>
                      <p>Please Visit Out Shop <br>
                      68 Cardamon Place, Melbourne Vic 3000<br>
                      Call us: 1.777.77.777
                      </p>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <h4>Social</h4>
                      <ul>
                          <li><a href="#">Behance</a></li>
                          <li><a href="#">Facebook</a></li>
                          <li><a href="#">Dribble</a></li>
                      </ul>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <h4>Latest Tweets</h4>
                      <div class="twitter-feed">
                          <div class="tweets-feed" data-widget-id="641211744803680256">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer End -->

      <!-- To Top -->
      <a href="#wed_page" class="wed_top ti ti-angle-up wed_go"></a>
    </section>
    <!-- content end -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/jquery.countdown.min.js"></script>





<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>