<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding</title>


    <!-- Library CSS -->
    <link href="css/wedding_library.css" rel="stylesheet">

    <!-- Icons CSS -->
    <link href="fonts/themify-icons.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/wedding_style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/leaves.css" type="text/css" media="screen">
    <link href="css/responsive.css" rel="stylesheet">

    <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">

</head>
<body class="wed_blue">

  <!-- Music Bottom Container -->
  <div class="wed_music_content">
    <div class="wed_music_container">
      <i class="ti ti-music"></i>
    </div>
  </div>
  <!-- Music Bottom Container End -->
  
   <!-- Soundcloud -->
  <div class="wed_iframe">
    <!-- over -->
    <div class="wed_over wed_music_over" data-color="#000" data-opacity="0.5"></div>
    <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/102137206&amp;auto_play=true&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>


  <!-- Preloader -->
  <div class="wed_page_loader">
    <div class="wed_story_content  wed_image_bck" data-color="#bcdfff">
      <div class="wed_heart_container_row_4">
        <img class="wed_fourth_heart_1" src="images/small_people/heart_1.png" alt="">
        <img class="wed_fourth_heart_2" src="images/small_people/heart_2.png" alt="">
        <img class="wed_fourth_heart_3" src="images/small_people/heart_3.png" alt="">
      </div>
      <div class="wed_story_small_img">
        <img src="images/small_people/small_couple.png" alt="">
      </div>

    </div>
  </div>
  <!-- Preloader End-->

  <!-- Firefly -->
  <div class="wed_firefly">
    <div class="jqueryFireFly" data-total="80" data-minPixel="4" data-maxPixel="9"></div>
  </div>
  <div class="wed_flowers">
      <div class="wed_fl_1 wed_fl skrollable skrollable-between" data-0="top:260px" data-500="top:1000px" data-1200="top:1500px" data-3000="top:3000px" data-4500="top:4000px" data-6500="top:6000px" data-8000="top:8000px" style="top: 260px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_2 wed_fl skrollable skrollable-between" data-0="top:210px" data-500="top:800px" data-1200="top:1200px" data-3000="top:2600px" data-4500="top:4900px" data-6500="top:6900px" data-8000="top:8900px" style="top: 210px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_3 wed_fl skrollable skrollable-between" data-0="top:210px" data-500="top:1000px" data-1200="top:1400px" data-3000="top:3600px" data-4500="top:4500px" data-6500="top:7000px" data-8000="top:6700px" style="top: 210px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>
      <div class="wed_fl_4 wed_fl skrollable skrollable-between" data-0="top:650px" data-500="top:600px" data-1200="top:600px" data-3000="top:3900px" data-4500="top:4900px" data-6500="top:6600px" data-8000="top:8600px" style="top: 650px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_5 wed_fl skrollable skrollable-between" data-0="top:50px" data-500="top:1100px" data-1200="top:1600px" data-3000="top:3200px" data-4500="top:4100px" data-6500="top:6100px" data-8000="top:9100px" style="top: 50px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>
      <div class="wed_fl_6 wed_fl skrollable skrollable-between" data-0="top:490px" data-500="top:520px" data-1200="top:1220px" data-3000="top:3220px" data-4500="top:4130px" data-6500="top:6130px" data-8000="top:9150px" style="top: 490px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>
      <div class="wed_fl_7 wed_fl skrollable skrollable-between" data-0="top:300px" data-500="top:720px" data-1200="top:1200px" data-3000="top:3000px" data-4500="top:5000px" data-6500="top:6400px" data-8000="top:7000px" style="top: 270px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>

      <div class="wed_fl_8 wed_fl skrollable skrollable-between" data-0="top:490px" data-500="top:520px" data-1200="top:1220px" data-3000="top:3220px" data-4500="top:4130px" data-6500="top:6130px" data-8000="top:9150px" style="top: 490px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>
      <div class="wed_fl_11 wed_fl skrollable skrollable-between"data-0="top:260px" data-500="top:1000px" data-1200="top:1500px" data-3000="top:3000px" data-4500="top:4000px" data-6500="top:6000px" data-8000="top:8000px" style="top: 260px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_9 wed_fl skrollable skrollable-between" data-0="top:110px" data-500="top:300px" data-1200="top:1200px" data-3000="top:3050px" data-4500="top:4100px" data-6500="top:6800px" data-8000="top:8700px" style="top: 110px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_12 wed_fl skrollable skrollable-between"  data-0="top:360px" data-500="top:730px" data-1200="top:1200px" data-3000="top:2800px" data-4500="top:4500px" data-6500="top:6200px" data-8000="top:6500px" style="top: 360px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_10 wed_fl skrollable skrollable-between" data-0="top:650px" data-500="top:600px" data-1200="top:600px" data-3000="top:3900px" data-4500="top:4900px" data-6500="top:6600px" data-8000="top:8600px" style="top: 650px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>

      <div class="wed_fl_13 wed_fl skrollable skrollable-between" data-0="top:360px" data-500="top:730px" data-1200="top:1200px" data-3000="top:2800px" data-4500="top:4500px" data-6500="top:6200px" data-8000="top:6500px" style="top: 360px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_14 wed_fl skrollable skrollable-between" data-0="top:300px" data-500="top:720px" data-1200="top:1200px" data-3000="top:3000px" data-4500="top:5000px" data-6500="top:6400px" data-8000="top:7000px" style="top: 270px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>
      <div class="wed_fl_15 wed_fl skrollable skrollable-between" data-0="top:140px" data-500="top:1000px" data-1200="top:1200px" data-3000="top:3800px" data-4500="top:4900px" data-6500="top:6100px" data-8000="top:7200px" style="top: 250px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_16 wed_fl skrollable skrollable-between" data-0="top:110px" data-500="top:300px" data-1200="top:1200px" data-3000="top:3050px" data-4500="top:4100px" data-6500="top:6800px" data-8000="top:8700px" style="top: 110px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_17 wed_fl skrollable skrollable-between"data-0="top:140px" data-500="top:1000px" data-1200="top:1200px" data-3000="top:3800px" data-4500="top:4900px" data-6500="top:6100px" data-8000="top:7200px" style="top: 250px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_18 wed_fl skrollable skrollable-between" data-0="top:210px" data-500="top:800px" data-1200="top:1200px" data-3000="top:2600px" data-4500="top:4900px" data-6500="top:6900px" data-8000="top:8900px" style="top: 210px;">
          <img src="images/petals/blue_rose/1.png" alt="">
      </div>
      <div class="wed_fl_19 wed_fl skrollable skrollable-between" data-0="top:210px" data-500="top:1000px" data-1200="top:1400px" data-3000="top:3600px" data-4500="top:4500px" data-6500="top:7000px" data-8000="top:6700px" style="top: 210px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>
      <div class="wed_fl_20 wed_fl skrollable skrollable-between" data-0="top:50px" data-500="top:1100px" data-1200="top:1600px" data-3000="top:3200px" data-4500="top:4100px" data-6500="top:6100px" data-8000="top:9100px" style="top: 50px;">
          <img src="images/petals/blue_rose/1_blur.png" alt="">
      </div>

  </div>
  <!-- Page -->
  <div class="wed_page" id="wed_page">

    <!-- Header -->
    <header>       
      <nav class="wed_light_nav wed_transp_nav">
        <div class="container">

          <!-- couple header -->
          <img class="wed_couple_header wed_kissing_couple animated extra" src="images/3.png" alt=""/>
          <img class="wed_couple_header wed_white_couple animated extra" src="images/3_white_couple.png" alt=""/>
          <!-- couple header end -->

          <!-- Logo -->
          <a href="#" class="wed_logo wed_logo_animation">Sally & Mark</a>

          <!-- Text Logo -->
          <div class="wed_logo_und">Wedding</div>


          <div class="wed_top_menu_mobile_link">
            <i class="ti ti-menu"></i>
          </div>
          <!-- Top Menu -->
          <div class="wed_top_menu_cont">
              <ul class="wed_top_menu">
                <li class="wed_parent"><a href="#">Home</a>
                  <ul>                      
                       <li><a href="01_multipage_index.html">Red Hearts Multipage</a></li>
                       <li><a href="02_multipage_index.html">Firefly Demo</a></li>
                       <li><a href="02_index.html">Dandelions Demo</a></li>
                       <li><a href="03_index.html">Red Roses Demo</a></li>
                       <li><a href="04_index.html">Orange Roses Demo</a></li>
                       <li><a href="06_index.html">Blue Butterflies Demo</a></li>
                       <li><a href="05_index.html">Purple Butterflies Demo</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">About</a>
                  <ul>
                       <li><a href="02_04_about_him.html">About Him</a></li>
                       <li><a href="02_05_about_her.html">About Her</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">Gallery</a>
                  <ul>
                       <li><a href="01_04_portfolio_masonry_full_3col.html">Full 3 Column</a></li>
                       <li><a href="02_01_portfolio_masonry_fixed_3col.html">Full No Padding</a></li>
                       <li><a href="01_09_portfolio_masonry_full_nopadding_3col.html">Fixed 3 Column</a></li>
                  </ul>
                </li>
                <li><a href="02_06_story.html">Story</a></li>
                <li class="wed_parent"><a href="#">The Wedding</a>
                  <ul>
                       <li><a href="01_05_accomodation.html">Accomodation</a></li>
                       <li><a href="01_06_location.html">Location</a></li>
                       <li><a href="01_07_bridesmaid.html">Bridesmaid</a></li>
                       <li><a href="01_08_groomsman.html">Groomsman</a></li>
                      <li><a href="02_01_gift_registry.html">Gift Registry</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">Blog</a>
                  <ul>
                       <li><a href="01_03_blog_fullwidth.html">Blog Fillwidth</a></li>
                       <li><a href="01_02_blog_masonry_3col.html">Blog Masonry</a></li>
                       <li><a href="01_01_wedding journal.html">Blog Single Page</a></li>
                  </ul>
                </li>
                <li class="wed_parent"><a href="#">RSVP</a>
                  <ul>
                       <li><a href="02_02_reservation.html">RSVP 1</a></li>
                       <li><a href="02_03_reservation.html">RSVP 2</a></li>
                  </ul>
                </li>              
              </ul>
          </div>
          <!-- Top Menu End -->
        </div>
        <!-- container end -->
      </nav>

    </header>
    <!-- Header End -->


    <!-- Slider -->
    <div class="wed_slider wed_image_bck wed_fixed wed_wht_txt" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">
    <!-- Over -->
     <div class="wed_over" data-color="rgb(132, 193, 250)" data-opacity="0.8"></div>
      
      <div class="container">

            <!-- Slider Texts -->
            <div class="wed_slide_txt wed_slide_center_middle text-center"  data-0="opacity:1;" data--400-bottom="opacity:0;">
                <img class="wed_slider_ornament" src="images/wedding_ornament.png" alt="">
                <h2 class="wed_hensa_slider">Sally & Mark</h2>
                <h3>12.11.2016</h3>
            </div>
            <!-- Slider Texts End -->

      </div>
      <!-- container end -->

      <!-- Slide Down -->
      <a class="wed_scroll_down wed_go" href="#wed_content" data-0="opacity:1; bottom:40px;" data--400-bottom="opacity:0; bottom:80px;">
        <b data-0="height:40px" data--400-bottom="height:55px"></b>
          Scroll
      </a>
    </div>
    <!-- Slider End -->

    <!-- Content -->
    <section id="wed_content" class="wed_content">


      <!-- BORDER -->
      <div class="wed_slider_border">

        <!-- story section -->
        <section id="story" class="wed_section_outter wed_couple_frame clearfix">

          <div class="container">             
            <div class="row">
              <div class="col-sm-12 col-md-offset-2 col-md-8 text-center">
                  <div class="wed_topstory_titile wed_great_titles">
                      <h2 class="wed_margtop">
                          Happy Couple
                      </h2>
                  </div>
              </div>
            </div>
            <!-- Row end -->
            <div class="row wed_wht_txt">
              <!-- Item -->
              <div class="col-md-5 col-sm-5 col-xs-12 col-md-offset-1 col-sm-pull-1">
                <div class="wed_wrapper_frame">
                  <div class="wed_heart_img_1 skrollable skrollable-after" data-bottom="left:10%" data-center="left:0" data-image="http://placehold.it/790x600" style="left: 0px; background-image: url(&quot;http://placehold.it/790x600&quot;);">               
                    <a href="02_04_about_him.html" class="btn btn_border btn_popup">About Him</a>             
                    <h6 class="wed_name_left">Mark<br><span>Holts</span></h6>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="col-md-5 col-sm-5 col-xs-12 col-sm-offset-1">
                <div class="wed_wrapper_frame">
                  <div class="wed_heart_img_2 skrollable skrollable-after" data-bottom="right:10%" data-center="right:0" data-image="http://placehold.it/790x600" style="right: 0px; background-image: url(&quot;http://placehold.it/790x600&quot;);">
                    <a href="02_05_about_her.html" class="btn btn_border btn_popup">About Her</a>  
                    <h6 class="wed_name_right">Sally<br><span>Craft</span></h6>
                  </div>
                </div>
              </div>
       
             </div>
            <!-- row end -->
          </div>
          <!-- END of CONTAINER -->

        </section> 
        <!-- Section end -->
      </div> 
      <!-- BORDER END -->

      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section class="wed_section_inner wed_image_bck wed_wht_txt wed_fixed" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900" >
          <!-- Over -->
            <div class="wed_over" data-color="#198ef9" data-opacity="0.9"></div>

          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                  <h2>Don't miss it!</h2>                    
              </div>
              <!-- col end -->
            </div>
            <!-- row end -->
            <span class="wed_countdown" data-year="2017" data-month="05" data-day="28"></span>   
          </div>          
          <!-- container end -->

        </section>
        <!-- section end -->
      </div>      
      <!-- White border end-->


        <!-- section -->
        <section class="wed_section_outter wed_border">
          <div class="container">
            <div class="row wed_auto_height wed_middle_titles">
              <div class="col-md-12 wed_image_bck wed_fixed text-center" >
                <h2> Are you attending?</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices </p>
                <a href="02_02_reservation.html" class="btn btn_border">RSVP</a>
              </div>
              <!-- col end -->

            </div>
            <!-- row end -->

           </div>          
          <!-- container end -->

        </section>
        <!-- section end -->

      <!-- White border -->
      <div class="wed_white_inner_border">
        <!-- section -->
        <section id="where" class="wed_section_inner">
        <div class="container-full">

          <div class="row text-center">
            <!-- Item -->
            <div class="col-md-4 wed_nopadding">
              <div class="wed_wrapper">
                <img src="http://placehold.it/790x600" class="wed_fullwidth" alt="">
                <a href="02_01_gift_registry.html" class="btn btn_border btn_popup">Gift List</a>
              </div>
              <div class="wed_pad_txt">
                <h3>Gift Registry</h3>
                <span>Avenue Paducah 1285 7th street<br><br></span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
              </div>
                    
            </div>

            <!-- Item -->
            <div class="col-md-4 wed_nopadding">
              <div class="wed_wrapper">
                <img src="http://placehold.it/790x600" class="wed_fullwidth" alt="">
                <a href="01_06_location.html" class="btn btn_border btn_popup">View Location</a>
              </div>
              <div class="wed_pad_txt">
                  <h3>Location</h3>
                  <span>Avenue Paducah 1285 7th street<br><br></span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
              </div>   
              </div>
               <!-- Item -->
              <div class="col-md-4 wed_nopadding">
                <div class="wed_wrapper">
                  <img src="http://placehold.it/790x600" class="wed_fullwidth" alt="">
                   <a href="01_05_accomodation.html" class="btn btn_border btn_popup">Accomodation</a>
                 </div>
                <div class="wed_pad_txt">
                  <h3>Accomodation</h3>
                  <span>Avenue Paducah 1285 7th street<br><br></span>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin 
                </div>    
              </div>

          </div>
          <!-- Row End -->
        </div>
        <!-- container end -->
        </section>
        <!-- section end -->
      </div>
      <!-- Border End -->


      <!-- White border -->
      <div class="wed_water_border text-center">
          <!-- section -->
          <section id="rsvp" class="wed_section_inner wed_wht_txt wed_image_bck wed_fixed" data-stellar-background-ratio="0.2" data-image="http://placehold.it/1400x900">
              <!-- Over -->
              <div class="wed_over" data-color="#198ef9" data-opacity="0.9"></div>
              <div class="container wed_great_titles">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="wed_footer_txt">
                              <h2 class="wed_form_txt">Thank You!</h2>
                              <h3>Sally & Mark</h3>
                          </div>
                      </div>
                  </div>
              </div>

          </section>
          <!--section end -->

            <!-- To Top -->
          <a href="#wed_page" class="wed_top_grey wed_top ti ti-angle-up wed_go"></a>
      </div>
        <!-- White border end -->
    </section>
    <!--Content end -->
  </div>
  <!-- Page End -->



<!-- JQuery -->
<script src="js/jquery-1.12.4.min.js"></script> 

<!-- Library JS -->
<script src="js/wedding_library.js"></script>
<script src="js/jquery.countdown.min.js"></script>



<!-- Theme JS -->
<script src="js/wedding_script.js"></script>


</body>
</html>