<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>JD</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />




  <link rel="stylesheet" href="css/css-circular-prog-bar.css">


</head>

<body>
  <div class="top_container">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            JD
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="index.html"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="about.html"> about </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="practice.html"> PRACTICE AREAS </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="blog.html"> Blog </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact Us</a>
                </li>

              </ul>
              <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
        </nav>
      </div>
    </header>
  </div>
  <!-- end header section -->


  <!-- welcome section -->


  <section class="welcome_section position-relative">
    <div class="container ">
      <div class="row">
        <div class="col-lg-6">
          <div class="welcome_container">
            <h3>
              WELCOME TO TRUST

            </h3>
            <div>
              <h4>
                Story & History
              </h4>
              <p>
                Trust started as a sole practitioner providing services to the area community. Our Office has now grown
                to five lawyers and provides expert legal representation.
              </p>
            </div>
            <div>
              <h4>
                Values & Philosophy
              </h4>
              <p>
                Trust started as a sole practitioner providing services to the area community. Our Office has now grown
                to five lawyers and provides expert legal representation.
              </p>
            </div>
            <div class="d-flex justify-content-center justify-content-sm-start">
              <a href="" class="sub_call_to-btn ">
                <span>
                  Read More
                </span>
                <img src="images/right-arrow.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end welcome section -->

  <!-- info section -->
  <section class="info_section">
    <div class="container ">
      <div class="row custom_border-btm pb-4">
        <div class="col-md-4 info_logo">
          <h2>
            JD
          </h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or
          </p>
        </div>
        <div class="col-md-4 info_address">
          <h5>
            Address
          </h5>
          <p>
            passages of Lorem Ipsum available, but the majority have
          </p>
          <p>
            (+71) 1234567890
          </p>
          <p>
            demo@gmail.com
          </p>
        </div>
        <div class="col-md-4 info_news">
          <h5>
            Newsletter
          </h5>
          <form action="">
            <div>
              <input type="email" placeholder="Enter your email">
            </div>
            <div>
              <button type="submit">
                Subscribe
              </button>
            </div>
          </form>
        </div>

      </div>

      <div>
        <div class="info_social">
          <div>
            <a href="">
              <img src="images/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="images/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="images/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="images/insta.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- endsss info section -->

  <!-- end contact section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
  <!-- progreesbar script -->

  </script>
</body>

</html>