<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1"/>
    <meta name="author" content="Theme Industry">
    <!-- description -->
    <meta name="description" content="boltex">
    <!-- keywords -->
    <meta name="keywords" content="">
        <title>Nextme</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto%7CJosefin+Sans:100,300,400,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- <link rel="stylesheet" href="css/bootstrap3.min.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/cubeportfolio.min.css">
    <link rel="stylesheet" type="text/css" href="css/component.css" />

  </head>
  <body>
  <nav class="navbar navbar-expand-lg fixed-top activate-menu navbar-light bg-light">
    <a class="navbar-brand" href="#">Nextme</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li >
          <a class="nav-link" href="#showcase">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li>
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li>
          <a class="nav-link" href="#portfolio">Portfoilo</a>
        </li>
        <li>
          <a class="nav-link" href="#teams">Team</a>
        </li>
        <li>
          <a class="nav-link" href="#testimonials">Feedback</a>
        </li>
        <li>
          <a class="nav-link" href="#blog">Blog</a>
        </li>
        <li>
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>


  <!--================ Showcase section ===================-->
  <div id="showcase">
    <div class="container showcase">
        <div class="full-width text-center showcase-caption mt-30">
    			<h4>We Are Creative</h4>
              <h1>Creative Digital Agency</h1>
                  <p>A single place to share, curate and discover visual that tells a story.</p>
                    <div class="showcase-button">
                      <a href="#features" class="button-style showcase-btn">
                        Learn More
                      </a>
                      <a href="#services" class="button-style showcase-btn">
                        Get Started
                      </a>
                </div>
    		</div>
      </div>
  </div>

  <!--================== Features section =====================-->
  <div id="features">
     <div class="text-center features-caption features">
                <h3>Welcome To Our Agency</h3>
                  <h4>Who We Are And What Can We do?</h4>
                  <p>
                    We’re full service which means we’ve got you covered on design and content right through to digital. You’ll form a lasting relationship with us, collaboration is central to everything we do. We’ll push you out of your comfort zone from time-to-time, but this is where you’ll shine. Bottom line is we want you to succeed at Faculty.
                  </p>
     </div>
          <div class="container">
            <div class="row">
              <div class="col-sm bottom-space">
                    <div class="feature-box">
                        <i class="fa fa-image fa-5x fa-icon-image"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">
                          Creative Design
                        </h3>
                        <p class="feature-box__text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit.
                          Aperiam, ipsum sapiente aspernatur.
                        </p>
                    </div>
              </div>
              <div class="col-sm bottom-space">
                    <div class="feature-box">
                        <i class="fa fa-lightbulb-o fa-5x fa-icon-image" ></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Software Design</h3>
                        <p class="feature-box__text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                        </p>
                    </div>
              </div>
              <div class="col-sm bottom-space">
                    <div class="feature-box">
                        <i class="fa fa-5x fa-code fa-icon-image"></i>
                        <h3 class="heading-tertiary u-margin-bottom-small">Application Design</h3>
                        <p class="feature-box__text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                        </p>
                    </div>
              </div>
            </div>
     </div>
      <div class="features-section-2">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm features-section-2-col-1 hover-effect">
            </div>
            <div class="col-sm features-section-2-col-2 ">
              <div class="features-section-2-col-2__content">
                <h2>We strive to be the best and make Awesome Work.</h2>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and type setting industry when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centuries.
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!--================== Services section =====================-->
  <div id="services">

        <div class="container features">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 bottom-space">
              <div class="folded-corner service_tab_1">
                <div class="text">
                  <i class="fa fa-image fa-5x fa-icon-image"></i>
                        <h3 class="item-title"> Designing</h3>
                  <p>
                    This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides,
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 bottom-space">
              <div class="folded-corner service_tab_1">
        				<div class="text">
        					<i class="fa fa-lightbulb-o fa-5x fa-icon-image" ></i>
        							<h3 class="item-title"> Developing</h3>
        						<p>
        							This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides,
        					</p>
        				</div>
        			</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 bottom-space">
              <div class="folded-corner service_tab_1">
        				<div class="text">
        					<i class="fa fa-truck fa-5x fa-icon-image"></i>
        							<h3 class="item-title"> Marketing</h3>
        					<p>
        						This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides,
        					</p>
        				</div>
        			</div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 bottom-space">
              <div class="folded-corner service_tab_1">
                <div class="text">
                  <i class="fa fa-diamond fa-5x fa-icon-image"></i>
                      <h3 class="item-title"> Branding</h3>
                  <p>
                    This is an amazing set of animated accordions based completely on CSS. They come oriented both vertically and horizontally in order to fit properly in your project. In order to see the slides,
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
  </div>

  <!--================== Portfolio section =====================-->
  <section class="grid3d vertical portfolio" id="portfolio">
    <div class="container">
        <div class="teams-heading text-center col-md-8 offset-md-2 col-sm-12 text-center">
            <!-- <span>Heros Behind The Company</span> -->
            <h3 class="teams-heading">Our Recent Project</h3>

            <p class="heading_space">Curabitur mollis bibendum luctus. Duis suscipit
              vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
              maximus metus sollicitudin. Quisque vitae sodales lectus.
               Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
            </p>
          </div>
    </div>

    <div class="grid-wrap">
      <div class="grid">
        <figure class="hover-effect"><img src="img/portfolio/img-1.jpg" alt="img01"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-2.jpg" alt="img05"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-3.jpg" alt="img08"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-4.jpg" alt="img02"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-5.jpg" alt="img04"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-6.jpg" alt="img03"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-7.jpg" alt="img09"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-8.jpg" alt="img06"/></figure>
        <figure class="hover-effect"><img src="img/portfolio/img-4.jpg" alt="img07"/></figure>
      </div>
    </div><!-- /grid-wrap -->
    <div class="content gallery-content">
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-1.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>

      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-2.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-3.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-4.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-5.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-6.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-7.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-8.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <div>
          <div class="text-center col-md-8 offset-md-2 col-sm-12 text-center">
              <h3>Our Recent Project</h3>

              <p>Curabitur mollis bibendum luctus. Duis suscipit
                vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
                maximus metus sollicitudin.
              </p>
              <img class="" style="width:100%" src="img/portfolio/img-4.jpg" alt="img01"/>

              <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
                <p>The only people for me are the mad ones, the ones who are mad to live, mad to talk,
                  mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace
                  thing, but burn, burn, burn like fabulous yellow roman candles exploding
                  like spiders across the stars.</p>
            </div>
      </div>
      <span class="loading"></span>
      <span class="icon close-content">&times;</span>
    </div>
  </section>

  <!--================== Team section =====================-->

  <div id="teams">
    <div class="container">
      <div class="teams-heading text-center col-md-8 offset-md-2 col-sm-12 text-center">
        <!-- <span>Heros Behind The Company</span> -->
        <h1 class="teams-heading">Creative Team</h1>

        <p class="heading_space">Curabitur mollis bibendum luctus. Duis suscipit
          vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in
          maximus metus sollicitudin. Quisque vitae sodales lectus.
           Nam porttitor justo sed mi finibus, vel tristique risus faucibus.
        </p>
      </div>

      <div class="row">
          <div class="col-sm">
            <div class="teams-item-box">
                <div class="teams-item">
                    <div class="profile-image"><img src="img/jen.png" alt="Jen Image" /></div>
                    <div>
                      <h3>Sue Shei</h3>
                      <h5>Founder</h5>
                      <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
                      <div class="icons">
                          <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                          <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                          <a href="#0"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                  </div>
            </div>
          </div>
          <div class="col-sm">
              <div class="teams-item-box">
                  <div class="teams-item">
                      <div class="profile-image"><img src="img/mike.png" alt="Mike image" /></div>
                      <div>
                        <h3>Sue Shei</h3>
                        <h5>Founder</h5>
                        <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
                        <div class="icons">
                            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#0"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
              </div>
          </div>
          <div class="col-sm">
              <div class="teams-item-box">
                  <div class="teams-item">
                      <div class="profile-image"><img src="img/nic.png" alt="Nic image" /></div>
                      <div>
                        <h3>Sue Shei</h3>
                        <h5>Founder</h5>
                        <p>Which is worse, that everyone has his price, or that the price is always so low.</p>
                        <div class="icons">
                            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#0"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                          </div>
                      </div>
                    </div>
              </div>
          </div>
      </div>

    </div>
  </div>

  <!--================== Feedback section =====================-->
<div id="testimonials" class="testimonials">
    <div class="cd-testimonials-wrapper cd-container">
        <ul class="cd-testimonials">
          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="cd-author">
              <img src="img/avatar-1.jpg" alt="Author image">
              <ul class="cd-author-info">
                <li>MyName</li>
                <li>CEO, AmberCreative</li>
              </ul>
            </div>
          </li>

          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Necessitatibus ea, perferendis error repudiandae numquam dolor fuga
               temporibus. Unde omnis, consequuntur.</p>
            <div class="cd-author">
              <img src="img/avatar-2.jpg" alt="Author image">
              <ul class="cd-author-info">
                <li>MyName</li>
                <li>Designer, CodyHouse</li>
              </ul>
            </div>
          </li>

          <li>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Quam totam nulla est, illo molestiae maxime officiis, quae ad,
               ipsum vitae deserunt molestias eius alias.</p>
            <div class="cd-author">
              <img src="img/avatar-3.jpg" alt="Author image">
              <ul class="cd-author-info">
                <li>MyName</li>
                <li>CEO, CompanyName</li>
              </ul>
            </div>
          </li>

        </ul> <!-- cd-testimonials -->

        <a href="#0" class="cd-see-all">See all</a>
      </div> <!-- cd-testimonials-wrapper -->

      <div class="cd-testimonials-all">
        <div class="cd-testimonials-all-wrapper">
          <ul>
            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Odit totam saepe iste maiores neque animi molestias nihil
                illum nisi temporibus.</p>

              <div class="cd-author">
                <img src="img/avatar-1.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Labore nostrum nisi, doloremque error hic nam nemo doloribus
                porro impedit perferendis. Tempora, distinctio hic suscipit.
                 At ullam eaque atque recusandae modi fugiat voluptatem
                 laborum laboriosam rerum, consequatur reprehenderit omnis,
                 enim pariatur nam, quidem, quas vel reiciendis aspernatur consequuntur.
                 Commodi quasi enim, nisi alias fugit architecto, doloremque, eligendi
                 quam autem exercitationem consectetur.</p>

              <div class="cd-author">
                <img src="img/avatar-2.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quibusdam eveniet, molestiae laborum voluptatibus minima hic quasi accusamus ut facere, eius expedita, voluptatem? Repellat incidunt veniam quaerat, qui laboriosam dicta. Quidem ducimus laudantium dolorum enim qui at ipsum, a error.</p>

              <div class="cd-author">
                <img src="img/avatar-3.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero voluptates
                officiis tempore quae officia! Beatae quia deleniti cum corporis eos perferendis
                libero reiciendis nemo iusto accusamus, debitis tempora voluptas praesentium repudiandae laboriosam excepturi laborum, nisi optio repellat explicabo, incidunt ex numquam. Ullam perferendis officiis harum doloribus quae corrupti minima quia, aliquam nostrum expedita pariatur maxime repellat, voluptas sunt unde, inventore.</p>

              <div class="cd-author">
                <img src="img/avatar-4.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit totam saepe iste maiores neque animi molestias nihil illum nisi temporibus.</p>

              <div class="cd-author">
                <img src="img/avatar-5.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis quia quas, quis illo adipisci voluptate ex harum iste commodi nulla dolor. Eius ratione quod ab!</p>

              <div class="cd-author">
                <img src="img/avatar-6.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, dignissimos iure rem fugiat consequuntur officiis.</p>

              <div class="cd-author">
                <img src="img/avatar-1.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>

              <div class="cd-author">
                <img src="img/avatar-2.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis iusto sapiente, excepturi velit, beatae possimus est tenetur cumque fugit tempore dolore fugiat! Recusandae, vel suscipit? Perspiciatis non similique sint suscipit officia illo, accusamus dolorum, voluptate vitae quia ea amet optio magni voluptatem nemo, natus nihil.</p>

              <div class="cd-author">
                <img src="img/avatar-3.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor quasi officiis pariatur, fugit minus omnis animi ut assumenda quod commodi, ad a alias maxime unde suscipit magnam, voluptas laboriosam ipsam quibusdam quidem, dolorem deleniti id.</p>

              <div class="cd-author">
                <img src="img/avatar-4.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At temporibus tempora necessitatibus reiciendis provident deserunt maxime sit id. Dicta aut voluptatibus placeat quibusdam vel, dolore.</p>

              <div class="cd-author">
                <img src="img/avatar-5.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>

            <li class="cd-testimonials-item">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque tempore ipsam, eos suscipit nostrum molestias reprehenderit, rerum amet cum similique a, ipsum soluta delectus explicabo nihil repellat incidunt! Minima magni possimus mollitia deserunt facere, tempore earum modi, ea ipsa dicta temporibus suscipit quidem ut quibusdam vero voluptatibus nostrum excepturi explicabo nulla harum, molestiae alias. Ab, quidem rem fugit delectus quod.</p>

              <div class="cd-author">
                <img src="img/avatar-6.jpg" alt="Author image">
                <ul class="cd-author-info">
                  <li>MyName</li>
                  <li>CEO, CompanyName</li>
                </ul>
              </div> <!-- cd-author -->
            </li>
          </ul>
        </div>	<!-- cd-testimonials-all-wrapper -->

        <a href="#0" class="close-btn">Close</a>
    </div> <!-- cd-testimonials-all -->
</div>


  <!--================== Blog section =====================-->
  <div id="blog" class="blog">
      <div class="container">
          <div class="row">
            <div class="col-sm">
                <div class="blog-item-box">
                <figure class="blog-item">
                    <div class="image">
                      <img src="./img/sample74.jpg" alt="sample74"/>

                      <i class="fa fa-clock-o" aria-hidden="true"></i>

                      <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
                    </div>
                    <figcaption>
                      <h3>The World Ended Yesterday</h3>
                      <p>I don't know which is worse, ...that everyone has his price, or that the price is always so low.</p>
                      <a href="#" class="read-more">Read More</a>
                    </figcaption>
                  </figure>
                </div>
            </div>
            <div class="col-sm">
              <div class="blog-item-box">
                <figure class="blog-item">
                    <div class="image">
                      <img src="./img/sample84.jpg" alt="sample87"/>
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      <div class="date"><span class="day">22</span>
                        <span class="month">Nov</span></div>
                    </div>
                    <figcaption>
                      <h3>Sample Article Heading</h3>
                      <p>My family is dysfunctional and my parents won't empower me. Consequently I'm not self actualized.</p>
                      <a href="#" class="read-more">Read More</a>
                    </figcaption>
                  </figure>
                </div>
            </div>
            <div class="col-sm">
              <div class="blog-item-box">
                <figure class="blog-item">
                    <div class="image">
                      <img src="./img/sample87.jpg" alt="sample84"/>
                      <i class="fa fa-clock-o" aria-hidden="true"></i>
                      <div class="date"><span class="day">26</span><span class="month">Nov</span></div>
                    </div>
                    <figcaption>
                      <h3>Another Sample Heading</h3>
                      <p>You know what we need, Hobbes? We need an attitude. Yeah, you can't be cool if you don't have an attitude.</p>
                      <a href="#" class="read-more">Read More</a>
                    </figcaption>
                  </figure>
              </div>
            </div>
          </div>
        </div>
  </div>

  <!--================== Contact section =====================-->

  <div id="contact" class="contact">
      <div class="map">
        <iframe height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=3%20Marina%20road%20Lagos%20Island%20Lagos&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
      </div>
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
              <h1 class="contact-heading">Lets Get In Touch</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum illum ratione atque praesentium laudantium
                quaerat laborum consecteturLorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

                <div class="row margin-15px-bottom">
                    <div class="col-sm-1 no-padding">
                        <div class="contact-icon text-blue">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <p class="text-small">San Francisco, CA 560 Bush St &amp; 20th Ave,<br> Apt 5 San Francisco, 230909</p>
                    </div>
                </div>

                <div class="row margin-15px-bottom">
                    <div class="col-sm-1 no-padding">
                        <div class="contact-icon text-blue">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <p class="text-small">+01 2323 7328 322<br>+01 2323 7328 322</p>
                    </div>
                </div>

                <div class="row margin-15px-bottom">
                    <div class="col-sm-1 no-padding">
                        <div class="contact-icon text-blue">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-sm-11 xs-margin-50px-bottom">
                        <p class="text-small">email@demo.com<br>www.demo.com</p>
                    </div>
                </div>


            </div>


            <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0">
              <!-- Starting of ajax contact form -->
    <form class="contact__form" method="post" action="contact_mail.php">
      <!-- Element of the ajax contact form -->
      <div class="row">
          <div class="col-md-6 form-group">
              <input name="name" type="text" class="form-control" placeholder="Name" required>
          </div>
          <div class="col-md-6 form-group">
              <input name="email" type="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="col-md-6 form-group">
              <input name="phone" type="text" class="form-control" placeholder="Phone" required>
          </div>
          <div class="col-md-6 form-group">
              <input name="subject" type="text" class="form-control" placeholder="Subject" required>
          </div>
          <div class="col-12 form-group">
              <textarea name="message" class="form-control" rows="3" placeholder="Message" required></textarea>
          </div>
          <div class="col-12">
              <input name="submit" type="submit" class="button-style" value="Send Message">
          </div>
      </div>
      

    </form>
<!-- Ending of ajax contact form -->
  <!-- Starting of successful form message -->
      <div class="row">
          <div class="col-12">
              <div class="alert alert-success contact__msg" style="display: none" role="alert">
                  Your message was sent successfully.
              </div>
          </div>
      </div>
      <!-- Ending of successful form message -->
          </div>
        </div>
  </div>
  </div>
  <footer class="text-center pos-re">
    <div class="container">
      <div class="footer__box">
        <!-- Logo -->
        <a class="logo" href="#">
            <img src="img/logo-light.png" alt="logo">
        </a>

        <div class="social">
            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="#0"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>

        <p>&copy; 2018 Dejithemes. All Rights Reserved.</p>
      </div>
    </div>

    <div class="curve curve-top curve-center"></div>
</footer>

  <script src="./js/jquery.min.js"></script>
  <script src="./js/modernizr.custom.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/slick.min.js"></script>
  <script src="./js/scrollreveal.min.js"></script>
  <script src="./js/jquery.cubeportfolio.min.js"></script>
  <script src="./js/jquery.matchHeight-min.js"></script>
  <script src="./js/masonry.pkgd.min.js"></script>
  <script src="./js/jquery.flexslider-min.js"></script>
  <script src="./js/classie.js"></script>
	<script src="./js/helper.js"></script>
  <script src="./js/grid3d.js"></script>
  <script src="./js/script.js"></script>


</body>
</html>
